* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(7, 6, 95, 1) 0%,
    rgba(6, 75, 165, 1) 0%,
    rgba(0, 212, 255, 1) 100%,
    rgba(4, 118, 193, 1) 100%,
    rgba(8, 22, 130, 1) 69%,
    rgba(9, 9, 121, 1) 100%
  );
}
